<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

    <head>

    
        <link rel="shortcut icon" href="/static/images/favicon.png" />

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <meta http-equiv="Content-Style-Type" content="text/css" />

        <meta name='yandex-verification' content='79a96efeb04ee5c5' />

        <meta name="google-site-verification" content="Ftq0azKgxwI6ES9zG0vydUEa2Ep1W6y-OnW4yMLzw3E" />

        <link rel="stylesheet" type="text/css" href="/static/css/tpl.css" />

        <!--[if IE]><link rel="stylesheet" type="text/css" href="/static/css/ie.css" />

        <![endif]-->

        <!--[if IE 7]><link rel="stylesheet" type="text/css" href="/static/css/ie7.css" />

        <![endif]-->

        
        <title>"Классика-АГ" - универсальная клининговая компания - {% block title %}{% endblock %} </title>

        <script type="text/javascript" src="/static/js/jquery.js"></script>

        <script type="text/javascript" src="/static/js/jquery_002.js"></script>

        <script type="text/javascript" src="/static/js/script.js"></script>

        <script type="text/javascript" src="/static/js/cufon-yui.js"></script>

        <script type="text/javascript" src="/static/js/europe_400.font.js"></script>

        <script type="text/javascript" src="/static/js/fonts.js"></script>

        <script type="text/javascript" src="/static/js/EuropeExt_400.font.js"></script>

        <script type="text/javascript" src="/static/js/headings.js"></script>

        <script type="text/javascript" src="/static/js/jquery.cycle.all.min.js"></script>
        <script type="text/javascript" src="/static/js/snow.js"></script>

    </head>

    <body>
<script type="text/javascript" src="/static/js/snow.js"></script>
        <div id="container">

            <div id="header">

            
                <div id="logo"></div>

            
                <div id="m_contacts">

                    <span class="tel">(495) 933-74-96</span><span class="tel_sub">(Многоканальный)</span>

                </div>

            
                <div class="main_menu">

                    <div id="main_menu">

                        <div class="main_menu1">

                            <div class="main_menu2">
                                <ul id="main_menu_nav">
                                    <li class="menu_item" style=""><a href="/">Главная</a></li>
                                    <li class="menu_item" style="" ><a href="/cleaning_service/">Услуги</a></li>
                                    <li class="menu_item" style="" ><a href="/hr/">Вакансии</a></li>
                                    <li class="menu_item" style="" ><a href="/price/">Цены</a></li>
                                    <li class="menu_item" style="" ><a href="/clients/">Клиенты</a></li>
                                    <li class="menu_item" style="" ><a href="/contacts/">Контакты</a></li>
                                    <li class="menu_item" style="" ><a href="/tender/">Тендеры</a></li>
                                </ul>

                            </div>

                        </div>

                    </div>

                </div>

            
                <div id="slogan" style="background-color:transparent">

            
                    <img src="/static/images/slogan_en_1.jpg" alt="Effective job, the effective cleaning, success" height="76" width="317"  />

                    <img style="display:none;" src="/static/images/slogan_ru.jpg" alt="Эффективная работа, эффективный клининг, успех" height="76" width="317" />

                </div>

            
            </div>

        
            <div class="body">

                {% block content %}
                {% endblock %}
            </div>

        </div>
    </div>

        
    <div id="footer">

        <div id="copyright">
            <span style="display:block; float:left; width:250px;">
©&nbsp;2011-2013&nbsp;&nbsp;ООО &laquo;Классика-АГ&raquo;</span>

            <span class="foot_contacts">Тел.: +7 (495) 933-74-96<br /> E-mail: info@classicag.ru</span></div>

            <div id="counters">
{% if not is_debug %}
    <!-- begin of Top100 code -->



    <script id="top100Counter" type="text/javascript" src="http://counter.rambler.ru/top100.jcn?2635604"></script>

    <noscript>

    <a  href="http://top100.rambler.ru/navi/2635604/" style="float:right;text-decoration:none;">

    <img src="http://counter.rambler.ru/top100.cnt?2635604" alt="Rambler's Top100" border="0" />

    </a>

    
    </noscript>

    <!-- end of Top100 code -->

<!-- Rating@Mail.ru counter -->
<script type="text/javascript">//<![CDATA[
var _tmr = _tmr || [];
_tmr.push({id: "2149966", type: "pageView", start: (new Date()).getTime()});
(function (d, w) {
   var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true;
   ts.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//top-fwz1.mail.ru/js/code.js";
   var f = function () {var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s);};
   if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }
})(document, window);
//]]></script><noscript><div style="position:absolute;left:-10000px;">
<img src="//top-fwz1.mail.ru/counter?id=2149966;js=na" style="border:0;" height="1" width="1" alt="Рейтинг@Mail.ru" />
</div></noscript>
<!-- //Rating@Mail.ru counter -->
    


<!-- Rating@Mail.ru logo -->
<a href="http://top.mail.ru/jump?from=2149966">
<img src="//top-fwz1.mail.ru/counter?id=2149966;t=479;l=1" 
style="border:0;" height="31" width="88" alt="Рейтинг@Mail.ru" /></a>
<!-- //Rating@Mail.ru logo -->

    
    <!--LiveInternet counter--><script type="text/javascript"><!--

    document.write("<a href='http://www.liveinternet.ru/click' "+

    "target=_blank><img src='//counter.yadro.ru/hit?t44.1;r"+

    escape(document.referrer)+((typeof(screen)=="undefined")?"":

    ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?

    screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+

    ";h"+escape(document.title.substring(0,80))+";"+Math.random()+

    "' alt='' title='LiveInternet' "+

    "border='0' width='31' height='31'><\/a>")

    //--></script><!--/LiveInternet-->

    
{% endif %}
            </div>

        </div>
        <img class='elochka' src='/static/images/clipart-elochka.png' />
    </body>

</html>

    
    
