<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="shortcut icon" href="/static/images/favicon.png" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Content-Style-Type" content="text/css" />
        <meta name='yandex-verification' content='79a96efeb04ee5c5' />
        <meta name="google-site-verification" content="Ftq0azKgxwI6ES9zG0vydUEa2Ep1W6y-OnW4yMLzw3E" />
        <link rel="stylesheet" type="text/css" href="/static/css/tpl.css" />
        <!--[if IE]><link rel="stylesheet" type="text/css" href="/static/css/ie.css" />
        <![endif]-->
        <!--[if IE 7]><link rel="stylesheet" type="text/css" href="/static/css/ie7.css" />
        <![endif]-->
        
        <title>"Классика-АГ" - универсальная клининговая компания - {% block title %}{% endblock %} </title>
        <script type="text/javascript" src="/static/js/jquery.js"></script>
        <script type="text/javascript" src="/static/js/jquery_002.js"></script>
        <script type="text/javascript" src="/static/js/script.js"></script>
        <script type="text/javascript" src="/static/js/cufon-yui.js"></script>
        <script type="text/javascript" src="/static/js/europe_400.font.js"></script>
        <script type="text/javascript" src="/static/js/fonts.js"></script>
        <script type="text/javascript" src="/static/js/EuropeExt_400.font.js"></script>
        <script type="text/javascript" src="/static/js/headings.js"></script>
        <script type="text/javascript" src="/static/js/jquery.cycle.all.min.js"></script>
    </head>
    <body>
        <div id="container">
            <div id="header">
            
                <div id="logo"></div>
            
                <div id="m_contacts">
                    <span class="tel">(495) 933-74-96</span><span class="tel_sub">(Многоканальный)</span>
                </div>
            
                <div class="main_menu">
                    <div id="main_menu">
                        <div class="main_menu1">
                            <div class="main_menu2">
                                <ul id="main_menu_nav">
                                    <li class="menu_item" style=""><a href="/">Главная</a></li>
                                    <li class="menu_item" style="" ><a href="/cleaning_service/">Услуги</a></li>
                                    <li class="menu_item" style="" ><a href="/hr/">Вакансии</a></li>
                                    <li class="menu_item" style="" ><a href="/price/">Цены</a></li>
                                    <li class="menu_item" style="" ><a href="/clients/">Клиенты</a></li>
                                    <li class="menu_item" style="" ><a href="/contacts/">Контакты</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div id="slogan" style="background-color:transparent">
            
                    <img src="/static/images/slogan_en_1.jpg" alt="Effective job, the effective cleaning, success" height="76" width="317"  />
                    <img style="display:none;" src="/static/images/slogan_ru.jpg" alt="Эффективная работа, эффективный клининг, успех" height="76" width="317" />
                </div>
            
            </div>
        
            <div class="body">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
        
    <div id="footer">
        <div id="copyright">
            <span style="display:block; float:left; width:250px;">©&nbsp;2011-2013&nbsp;&nbsp;ООО &laquo;Классика-АГ&raquo;</span>
            <span class="foot_contacts">Тел.: +7 (495) 933-74-96<br /> E-mail: info@classicag.ru</span></div>
            <div id="counters">
            </div>
        </div>
    </body>
</html>
    
    
