{% extends 'base.html' %}

{% block title %}Клиенты{% endblock %}

{% block content %}
    <div class="site_navigation" style="height:40px; padding-left:20px;">
        <a href="/">Главная</a>&nbsp;/&nbsp;
        Клиенты
    </div>
    
    <div id="content_1">
        <table width="978" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td valign="top">
                    <div id="center">
                        <h1> Клиенты компании "Классика-АГ":</h1>
                        <div class="separator"></div>
                        <p>Страница в разработке.</p>
                    </div>
                    <div class="separator"></div>
                    <div class="separator"></div>
                </td>
                
                <td valign="top">
                        <div class="c_p_r">
                          
                        </div>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}