{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
    <div class="site_navigation" style="height:40px; padding-left:20px;"></div>

    <div class="m_p_r">
        <h2>Наши преимущества:</h2>
        <ul class="mpr_ul">
            <li>Индивидуальный подход</li>
            <li>Высокое качество и оперативность</li>
            <li>Квалифицированность сотрудников</li>
            <li>Лучшая цена</li>
            <li>Честность и порядочность</li>
            <li>Мы работаем круглосуточно</li>
        </ul>
    </div>

    <div id="content">
	
        <div id="center">
            <div class="block" style="">
                <h1>Универсальная клининговая компания "Классика-АГ" - клининговые услуги в Москве</h1>
                <div class="separator"></div> 
		{{ p.content|safe }}
            </div>       
            <div class="block_separator"><hr /></div>
            
            <div class="block" style="height:261px;">
                <div class="galery m_p_c">
                <div class="gal_item">
                    <img src="/static/images/galery/photo7.jpg" alt="" width="200" height="200" />
                    <img style="display:none;" src="/static/images/galery/photo8.jpg" alt="" width="200" height="200" />
                    <img style="display:none;" src="/static/images/galery/photo9.jpg" alt="" width="200" height="200" />
                </div>
                    
                <div class="gal_item">
                    <img src="/static/images/galery/photo1.jpg" alt="" width="200" height="200" />
                    <img style="display:none;" src="/static/images/galery/photo5.jpg" alt="" width="200" height="200" />
                    <img style="display:none;" src="/static/images/galery/photo2.jpg" alt="" width="200" height="200" />
                </div>
                    
                <div class="gal_item">
                    <img src="/static/images/galery/photo3.jpg" alt="" width="200" height="200" />
                    <img style="display:none;" src="/static/images/galery/photo4.jpg" alt="" width="200" height="200" />
                    <img style="display:none;" src="/static/images/galery/photo6.jpg" alt="" width="200" height="200" />
                </div>
            </div>
        </div>
    </div>
    
    <div class="banners">
        <img src="/static/images/banner-classic-ag.gif" width="290" />
    </div>
{% endblock %}
