 
{% extends 'base.html' %}

{% block title %}Оформление заказа{% endblock %}

{% block content %}
    <div class="site_navigation" style="height:40px; padding-left:20px;">
        <a href="/">Главная</a>&nbsp;/&nbsp;
        Оформление заказа
    </div>
    
    <div id="content_1">
        <table width="978" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td valign="top">
                    <div id="center">
                        <h1>Оформление заказа</h1>
                        <div class="separator"></div>
                        <br /><br />
                        <h2>Ваш заказ успешно отправлен! Скоро с Вами свяжутся.</h2>
                    </div>
                </td>
                
                <td valign="top">
                        <div class="c_p_r">
                            
                        </div>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}