{% extends 'base.html' %}

{% block title %}{{ p.title }}{% endblock %}

{% block content %}
    <div class="site_navigation" style="height:40px; padding-left:20px;">
        <a href="/">Главная</a>&nbsp;/&nbsp;
        {% if p.is_service %}
            <a href="/cleaning_service/">Услуги</a>&nbsp;/&nbsp;
            {{ p.title }}
        {% else %}
            {{ p.title }}
        {% endif %}
    </div>
    
    <div id="content_1">
        {% if p.is_service %}
           <!-- <div id="price_fixed" style="text-align:center; position: fixed; bottom: 0px; margin-left: -53px; width:10px; height: 70px; padding-right: -20px; background-color: #4a4e4f">
                <a href='/price/#' style='text-decoration: none; font-size: 24px;'>Ц<br />Е<br />Н<br />Ы</a>
            </div>-->
        {% endif %}
        <table width="978" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td valign="top">
                    <div id="center">
                        <h1>{{ p.title }}</h1>
                        <div class="separator"></div>
                        {{ p.content|safe }}
                        
                    </div>
                </td>
                
                <td valign="top">
                    {% if services %}
                        <div class="c_p_r">
                            <h2>В этом разделе:</h2>
                            <ul class="">
                                {% for s in services %}
                                    <li><a href="/{{ s.1 }}/">{{ s.0 }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% else %}
                        <div class="c_p_r">
                            {{ p.content_right }}
                        </div>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
{% endblock %}