{% extends 'base.html' %}

{% block title %}Цены{% endblock %}

{% block content %}
    <div class="site_navigation" style="height:40px; padding-left:20px;">
        <a href="/">Главная</a>&nbsp;/&nbsp;
        Цены
    </div>
    
    <div id="content_1">
        <table width="978" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td valign="top">
                    <div id="center">
                        <h1>Прайс лист на клининговые услуги, стоимость клининговых услуг</h1>
                        <div class="separator"></div>
                        <p>*** <b>Стоимость клининговых услуг</b>&nbsp; зависит от  площади и специфики объекта. Цены на уборку помещений зависят от степени загрязнения, наличия мебели,  от количества необходимых расходных материалов, а также от времени и  сроков исполнения.</p>
                        <p>**** Выезд специалиста компании для осмотра&nbsp; объекта и расчет стоимости уборки вашей квартиры или других помещений&nbsp; - бесплатно.</p>
                    

<script type="text/javascript" src="/static/js/ajax.js"></script>

<div>
    <form action="/order/" method="post" id='to_order'>
        <input type='hidden' name='step' value='1'/>
        {% csrf_token %}
        <table cellpadding="0" cellspacing="0" border="0" width="100%" >
            {% for cat in categories %}
            <tr>
                <td width="650">
                    <h2 class="button" style="text-align:center; margin-top:40px;">
                        <a href="#" style="text-decoration:none" onclick='update_panel(this)'>{{ cat.name }}</a>
                        <span class="content_separator button"></span>
                    </h2>

                    <div  style="{% if selected_cat != cat.id %}display:none;{% endif %} width:550px; margin:0 auto;" class="dropdown" id='cat_{{ cat.id }}'>
                        <div>
                            {% for subcat in cat.sub.all %}
                                <h3>{{ subcat.name }}</h3>
                                <table cellpadding="5" cellspacing="0" width="100%" style="border:1px; border-color:#fff; border-style:solid; border-bottom:none;">
                                    {% for item in subcat.item.all %}
                                        <tr class="pr_tr">
                                            <td title="$field.description}">{{ item.name }}</td>
                                            <td width="40" align="center">
                                                <input class="pr_input" maxlength="4" type="text" name="field_{{ item.id }}" id="price_field_{{ item.id }}" value = "0" oninput="price_total('{{ item.id }}')" autocomplete="off" /> 
                                                <input type="hidden" value="{{ item.price }}" id="h_price_field_{{ item.id }}"/>
                                                </td>
                                            
                                            <td width="70"> {{ item.unit }} </td>
                                            <td width="90"> {{ item.price }} руб. </td>
                                        </tr> 
                                    {% endfor %}
                                </table>
                            {% endfor %}
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </form>
</div>
                    
                    
                        <div class="separator"></div>
                        <div class="separator"></div>
                    </div>
                </td>
                
                <td valign="top">
                    
                    <div id="price_fixed" style="text-align:center; position: fixed; bottom: 10px;">
                        <div class="cart" style="font-size:24px; text-align:center; line-height:35px;">
                            <span class="europe">Стоимость услуг</span><br/>
                            <font size="+3" ><font color="#45403a" id="summ">0</font></font><br />
                            <span class="europe">руб.</span>
                        </div>
                        <div>
                            <span>&nbsp;</span><br />
                            
                            <div class="ord_dropdown" id="prods_to_order" style="display:none; text-align:left"></div>
                        </div>
                    
                        <br />
                    
                        <input class="submit_order" id="submit_order" disabled="disabled" type="button" name="submit" value="Оформить заказ" onclick="$('#to_order').submit()" />
                    </div>
                </td>
            </tr>
        </table>
    </div>
    
<script>
    $(document).ready()
    {
        console.log('***');
        var rect = document.getElementById("main_menu").getBoundingClientRect().left + 15;
        document.getElementById("price_fixed").style.left= rect  + 'px';
    };
</script>
{% endblock %}